/** Step one **/

/** Step two **/
h1,h2,h3{
    font-family:  "Roboto Slab", serif;;
    color: #0000ff;
}

/** Step three **/
h1{
    font-size: 46px;
    letter-spacing: 1.5px;
    text-align: center;
    color: #005e32;
}
/** Step four **/
p,a,ul,li{
    font-family: "Merriweather", serif;
}

/** Step five **/
p span{
    color: #d80000;

}

/** Step six **/
h3{
    font-size: 50px;
    text-shadow: 2px 2px 2px #000000;
}
